@import "tailwindcss";
@custom-variant hover (&:hover);

@theme {
    --font-montserrat: var(--font-montserrat);
    --font-elms-sans: var(--font-elms-sans);
}
@layer base {
  p, h1, h2, h3, span, div {
    word-spacing: -0.12em;
    
    letter-spacing: -0.00em;
  }
}


:root {
  --background: #0a0a0a;
  --light-gray: #aaaaaa;
  --primary-border-color: #505050;
  --medium-gray: #555555;

  --off-white: #e8e8e8;

}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #10b981; /* green */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #10b981;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}
